#footer {
    font-size: 14px;
}

.navbar_logo {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

.icon_foot {
    display: flex;
    gap: 15px;
}

.link_footr {
    text-decoration: none;
    color: black;
}